<!DOCTYPE html>
<html>
<%# header.ejsの読み込み%>
<%- include('header') -%>
<body>
  <%# 共通ヘッダーの読み込み%>
  <%- include('header2') -%>
  <p class='newToDo'>新しいTodoを作成する</p>
  <%# ToDo入力フォームを作成する%>
  <form id='form'>
    <span>
      <p>
        ToDo名
        <input id='text' type='text' name='text' size='30' />
      </p>
      <label for='limit'>期限</label>
      <input id='limit' type='date' name='limit' />
    </span>
    <span class='btn'>
      <button type='submit'>ToDoの追加</button>
    </span>
  </form>
  <p id='visible' style='display:none'></p>
  <%# ToDo一覧を表示する%>
  <div id='ul' class='ul'>
    <div id='todoName'><%=param%></div>
    <ul id='list'></ul>
  </div>
  <%#jQueryとtodo.jsを読み込む%>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='../javascripts/todo.js'></script>
</body>
</html>